body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: inline-flex;
  align-items: center;
}

#logo {
  margin: 0 0 1% 1%;
  width: 15%;
  height: 10%;
}

#header-font {
  margin-left: 23%;
}

section {
  margin-top: 0%;
  display: flex;
  justify-content: center;
}
