body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#logo {
  margin: 0 0 1% 1%;
  width: 13%;
  height: 8%;
}

#header-font {
  margin-left: 20%;
}

section {
  margin-top: 0%;
  display: flex;
  justify-content: center;
}
